body{
    background: #ffffff;
}

#total{
    position: absolute;
    z-index: 999;
}

#central_reg {
    position: absolute;
    top: -465px;
    left: 43px;
}

#south_reg {
    position: absolute;
    top: -290px;
    left: 78px;
}

#caucasian_reg {
    position: absolute;
    top: -215px;
    left: 36px;
}

#crimea_reg {
    position: absolute;
    top: -331px;
    left: -28px;
}

#privolzh_reg{
    position: absolute;
    top: -383px;
    left: 170px;
}

#northwest_reg{
    position: absolute;
    top: -525px;
    left: 268px;
}

#ural_reg{
    position: absolute;
    top: -433px;
    left: 400px;
}

#siberia_reg{
    position: absolute;
    top: -392px;
    left: 536px;
}
#fareastern_reg{
    position: absolute;
    top: -586px;
    left: 786px;
}
