body {
    background: #ffffff;
}

#total {
    position: relative;
    z-index: 1;
}

#img_full {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 1350px) {

    #central_reg {
        position: relative;
        top: -358px;
        left: 95px;
        display: flex;
    }

    #south_reg {
        position: relative;
        top: -325px;
        left: 93px;
    }

    #caucasian_reg {
        position: relative;
        top: -318px;
        left: 59px;
    }

    #crimea_reg {
        position: relative;
        top: -631px;
        left: -40px;
    }

    #privolzh_reg {
        position: relative;
        top: -717px;
        left: 221px;
    }

    #northwest_reg {
        position: relative;
        top: -965px;
        left: 311px;
    }

    #ural_reg {
        position: relative;
        top: -995px;
        left: 427px;
    }

    #siberia_reg {
        position: relative;
        top: -1030px;
        left: 632px;
    }

    #fareastern_reg {
        position: relative;
        top: -1287px;
        left: 786px;
    }

    /*Центральный регион*/
    #cr_total {
        position: relative;
        z-index: 999;
    }

    #msk {
        position: relative;
        top: -2343px;
        left: 422px;
    }

    #msk_area {
        position: relative;
        top: -2557px;
        left: 381px;
    }

    #sml_area {
        position: relative;
        top: -2723px;
        left: 158px;
    }

    #tver_area {
        position: relative;
        top: -2919px;
        left: 341px;
    }

    #kaluga_area {
        position: relative;
        top: -2810px;
        left: 237px;
    }

    #bryansk_area {
        position: relative;
        top: -2898px;
        left: 59px;
    }

    #tula_area {
        position: relative;
        top: -2911px;
        left: 301px;
    }

    #oryol_area {
        position: relative;
        top: -2978px;
        left: 185px;
    }

    #kursk_area {
        position: relative;
        top: -3056px;
        left: 55px;
    }

    #belgorod_area {
        position: relative;
        top: -3000px;
        left: 103px;
    }

    #voronezh_area {
        position: relative;
        top: -3027px;
        left: 222px;
    }

    #lipetsk_area {
        position: relative;
        top: -3328px;
        left: 280px;
    }

    #tambov_area {
        position: relative;
        top: -3324px;
        left: 396px;
    }

    #ryasan_area {
        position: relative;
        top: -3625px;
        left: 452px;
    }

    #vladimir_area {
        position: relative;
        top: -3822px;
        left: 569px;
    }

    #ivanovo_area {
        position: relative;
        top: -3993px;
        left: 679px;
    }

    #kostroma_area {
        position: relative;
        top: -4153px;
        left: 820px;
    }

    #yaroslavl_area {
        position: relative;
        top: -4358px;
        left: 621px;
    }

    /*Уральский регион*/
    #kurgan_area {
        position: relative;
        top: -284px;
        left: 173px;
    }

    #yam-nen {
        position: relative;
        top: -937px;
        left: 591px;
    }

    #chelyab {
        position: relative;
        top: -415px;
        left: 52px;
    }

    #sverdlovsk {
        position: relative;
        top: -358px;
        left: 161px;
        display: flex;
    }

    #tyumen {
        position: relative;
        top: -680px;
        left: 297px;
    }

    #k-m {
        position: relative;
        top: -1018px;
        left: 311px;
    }

    /*Южный регион*/
    #volg_area {
        position: relative;
        top: -1994px;
        left: 900px;

    }

    #rost_area {
        position: relative;
        top: -2089px;
        left: 600px;

    }

    #krn_area {
        position: relative;
        top: -2170px;
        left: 300px;

    }

    #ad_rep {
        position: relative;
        top: -2170px;
        left: 300px;

    }

    #kal_rep {
        position: relative;
        top: -2139px;
        left: 850px;

    }

    #ast_area {
        position: relative;
        top: -2139px;
        left: 1100px;

    }

    #crim_area {
        position: relative;
        top: -2939px;
        left: -40px;
    }

    /*Кавказ*/
    #stv_area {
        position: relative;
        bottom: 700px;
        left: 550px;
    }

    #k-h {
        position: relative;
        bottom: 850px;
        left: 350px;
    }

    #k-b {
        position: relative;
        bottom: 850px;
        left: 430px;
    }

    #nosetia {
        position: relative;
        bottom: 850px;
        left: 430px;

    }

    #ingus {
        position: relative;
        bottom: 950px;
        left: 540px;
    }

    #chechen {
        position: relative;
        bottom: 980px;
        left: 580px;
    }

    #dag {
        position: relative;
        bottom: 950px;
        left: 650px;
    }

    /*Северо-западный регион*/
    #kallin_area {
        position: relative;
        bottom: 1680px;
        left: 0;
    }

    #ps_area {
        position: relative;
        bottom: 1680px;
        left: 150px;
    }

    #nov_area {
        position: relative;
        bottom: 1780px;
        left: 250px;
    }

    #sp_area {
        position: relative;
        bottom: 2000px;
        left: 270px;
    }

    #kar_rep {
        position: relative;
        bottom: 2100px;
        left: 410px;
    }

    #vologda_area {
        position: relative;
        bottom: 2100px;
        left: 410px;
    }

    #ark_area {
        position: relative;
        bottom: 2200px;
        left: 550px;
    }

    #komi_area {
        position: relative;
        bottom: 2200px;
        left: 800px;
    }

    #mur_area {
        position: relative;
        bottom: 2700px;
        left: 620px;
    }

    /*Дальневосточный регион*/
    #sakha_rep {
        position: relative;
        bottom: 600px;
        left: 350px;
    }

    #amur_area {
        position: relative;
        bottom: 330px;
        left: 280px;
    }

    #jewish {
        position: relative;
        bottom: 280px;
        left: 200px;
    }

    #prima {
        position: relative;
        bottom: 180px;
        left: 50px;
    }

    #saha {
        position: relative;
        bottom: 420px;
        left: -150px;
    }

    #khab {
        position: relative;
        bottom: 420px;
        left: -550px;
    }

    #mag {
        position: relative;
        bottom: 800px;
        left: 620px;
    }

    #kam {
        position: relative;
        bottom: 800px;
        left: 580px;
    }

    /*Сибирский регион*/
    #krasnoyar {
        position: relative;
        bottom: 800px;
        left: 500px;
    }

    #omsk {
        position: relative;
        bottom: 400px;
        right: 170px;
    }

    #novosib {
        position: relative;
        bottom: 350px;
        right: 450px;
    }

    #altai {
        position: relative;
        bottom: 250px;
        right: 650px;
    }

    #kemer {
        position: relative;
        bottom: 350px;
        right: 760px;
    }

    #khakas {
        position: relative;
        bottom: 350px;
        left: 420px;
    }

    #tyva_rep {
        position: relative;
        bottom: 280px;
        left: 350px;
    }

    #irkutsk {
        position: relative;
        bottom: 480px;
        left: 300px;
    }

    #burat {
        position: relative;
        bottom: 480px;
        left: 250px;
    }

    #zabay {
        position: relative;
        bottom: 480px;
        left: 180px;
    }

    #tomsk {
        position: relative;
        bottom: 500px;
        right: 250px;
    }
    /*Приволжский регион*/
    #saratov{

    }
}

@media only screen and (min-width: 1900px) {

    #central_reg {
        position: relative;
        top: -487px;
        left: 126px;
        display: flex;
    }

    #south_reg {
        position: relative;
        top: -486px;
        left: 114px;
    }

    #caucasian_reg {
        position: relative;
        top: -453px;
        left: 77px;
    }

    #crimea_reg {
        position: relative;
        top: -878px;
        left: -45px;
    }

    #privolzh_reg {
        position: relative;
        top: -1030px;
        left: 309px;
    }

    #northwest_reg {
        position: relative;
        top: -1404px;
        left: 409px;
    }

    #ural_reg {
        position: relative;
        top: -1395px;
        left: 570px;
    }

    #siberia_reg {
        position: relative;
        top: -1530px;
        left: 886px;
    }

    #fareastern_reg {
        position: relative;
        top: -1819px;
        left: 1119px;
    }

    /*Центральный регион*/
    #cr_total {
        position: relative;
        z-index: 999;
    }

    #msk {
        position: relative;
        top: -3307px;
        left: 601px;
    }

    #msk_area {
        position: relative;
        top: -3621px;
        left: 532px;
    }

    #sml_area {
        position: relative;
        top: -3871px;
        left: 244px;
    }

    #tver_area {
        position: relative;
        top: -4143px;
        left: 561px;
    }

    #kaluga_area {
        position: relative;
        top: -3994px;
        left: 355px;
    }

    #bryansk_area {
        position: relative;
        top: -4087px;
        left: 115px;
    }

    #tula_area {
        position: relative;
        top: -4108px;
        left: 435px;
    }

    #oryol_area {
        position: relative;
        top: -4232px;
        left: 270px;
    }

    #kursk_area {
        position: relative;
        top: -4356px;
        left: 55px;
    }

    #belgorod_area {
        position: relative;
        top: -4300px;
        left: 103px;
    }

    #voronezh_area {
        position: relative;
        top: -4327px;
        left: 314px;
    }

    #lipetsk_area {
        position: relative;
        top: -4728px;
        left: 409px;
    }

    #tambov_area {
        position: relative;
        top: -4724px;
        left: 561px;
    }

    #ryasan_area {
        position: relative;
        top: -5125px;
        left: 660px;
    }

    #vladimir_area {
        position: relative;
        top: -5500px;
        left: 783px;
    }

    #ivanovo_area {
        position: relative;
        top: -5678px;
        left: 963px;
    }

    #kostroma_area {
        position: relative;
        top: -5916px;
        left: 1220px;
    }

    #yaroslavl_area {
        position: relative;
        top: -6234px;
        left: 911px;
    }

    /*Уральский регион*/
    #kurgan_area {
        position: relative;
        top: -402px;
        left: 250px;
    }

    #yam-nen {
        position: relative;
        top: -1237px;
        left: 791px;
    }

    #chelyab {
        position: relative;
        top: -615px;
        left: 52px;
    }

    #sverdlovsk {
        position: relative;
        top: -458px;
        left: 251px;
        display: flex;
    }

    #tyumen {
        position: relative;
        top: -980px;
        left: 397px;
    }

    #k-m {
        position: relative;
        top: -1418px;
        left: 511px;
    }

    /*Южный регион*/
    #volg_area {
        position: relative;
        top: -2994px;
        left: 1400px;

    }

    #rost_area {
        position: relative;
        top: -3089px;
        left: 800px;

    }

    #krn_area {
        position: relative;
        top: -3070px;
        left: 429px;

    }

    #ad_rep {
        position: relative;
        top: -2970px;
        left: 381px;

    }

    #kal_rep {
        position: relative;
        top: -2839px;
        left: 1150px;

    }

    #ast_area {
        position: relative;
        top: -3139px;
        left: 1550px;

    }

    #crim_area {
        position: relative;
        top: -4139px;
        left: -66px;
    }

    /*Кавказ*/
    #stv_area {
        position: relative;
        bottom: 1000px;
        left: 750px;
    }

    #k-h {
        position: relative;
        bottom: 1180px;
        left: 500px;
    }

    #k-b {
        position: relative;
        bottom: 1170px;
        left: 630px;
    }

    #nosetia {
        position: relative;
        bottom: 1150px;
        left: 630px;
    }

    #ingus {
        position: relative;
        bottom: 1350px;
        left: 770px;
    }

    #chechen {
        position: relative;
        bottom: 1380px;
        left: 880px;
    }

    #dag {
        position: relative;
        bottom: 1280px;
        left: 890px;
    }

    /*Северо-западный регион*/
    #kallin_area {
        position: relative;
        bottom: 2380px;
        left: 0;
    }

    #ps_area {
        position: relative;
        bottom: 2380px;
        left: 250px;
    }

    #nov_area {
        position: relative;
        bottom: 2500px;
        left: 380px;
    }

    #sp_area {
        position: relative;
        bottom: 2850px;
        left: 380px;
    }

    #kar_rep {
        position: relative;
        bottom: 3000px;
        left: 600px;
    }

    #vologda_area {
        position: relative;
        bottom: 2950px;
        left: 560px;
    }

    #ark_area {
        position: relative;
        bottom: 3200px;
        left: 750px;
    }

    #komi_area {
        position: relative;
        bottom: 3200px;
        left: 1100px;
    }

    #mur_area {
        position: relative;
        bottom: 3800px;
        left: 850px;
    }

    /*Дальневосточный регион*/
    #sakha_rep {
        position: relative;
        bottom: 800px;
        left: 500px;
    }

    #amur_area {
        position: relative;
        bottom: 490px;
        left: 420px;
    }

    #jewish {
        position: relative;
        bottom: 380px;
        left: 260px;
    }

    #prima {
        position: relative;
        bottom: 280px;
        left: 70px;
    }

    #saha {
        position: relative;
        bottom: 620px;
        left: -220px;
    }

    #khab {
        position: relative;
        bottom: 650px;
        left: -800px;
    }

    #mag {
        position: relative;
        bottom: 1150px;
        left: 870px;
    }

    #kam {
        position: relative;
        bottom: 1100px;
        left: 780px;
    }

    /*Сибирский регион*/
    #krasnoyar {
        position: relative;
        bottom: 1200px;
        left: 700px;
    }

    #tomsk {
        position: relative;
        bottom: 700px;
        right: 250px;
    }

    #omsk {
        position: relative;
        bottom: 600px;
        right: 250px;
    }

    #novosib {
        position: relative;
        bottom: 500px;
        right: 670px;
    }

    #altai {
        position: relative;
        bottom: 350px;
        right: 950px;
    }

    #kemer {
        position: relative;
        bottom: 550px;
        right: 1060px;
    }

    #khakas {
        position: relative;
        bottom: 550px;
        left: 620px;
    }

    #tyva_rep {
        position: relative;
        bottom: 430px;
        left: 550px;
    }

    #irkutsk {
        position: relative;
        bottom: 780px;
        left: 400px;
    }

    #burat {
        position: relative;
        bottom: 680px;
        left: 350px;
    }

    #zabay {
        position: relative;
        bottom: 680px;
        left: 280px;
    }
}

@media only screen and (min-width: 3800px) {
    #central_reg {
        position: relative;
        top: -969px;
        left: 246px;
    }

    #south_reg {
        position: relative;
        top: -900px;
        left: 264px;
    }

    #caucasian_reg {
        position: relative;
        top: -890px;
        left: 154px;
    }

    #crimea_reg {
        position: relative;
        top: -1833px;
        left: -107px;
    }

    #privolzh_reg {
        position: relative;
        top: -2030px;
        left: 626px;
    }

    #northwest_reg {
        position: relative;
        top: -2740px;
        left: 841px;
    }

    #ural_reg {
        position: relative;
        top: -2809px;
        left: 1125px;
    }

    #siberia_reg {
        position: relative;
        top: -2752px;
        left: 1786px;
    }

    #fareastern_reg {
        position: relative;
        top: -3627px;
        left: 2256px;
    }

    /*Центральный регион*/
    #cr_total {
        position: relative;
        z-index: 999;
    }

    #msk {
        position: relative;
        top: -6600px;
        left: 1188px;
    }

    #msk_area {
        position: relative;
        top: -7242px;
        left: 1120px;
    }

    #sml_area {
        position: relative;
        top: -7756px;
        left: 500px;
    }

    #tver_area {
        position: relative;
        top: -8241px;
        left: 1119px;
    }

    #kaluga_area {
        position: relative;
        top: -7973px;
        left: 653px;
    }

    #bryansk_area {
        position: relative;
        top: -8171px;
        left: 219px;
    }

    #tula_area {
        position: relative;
        top: -8249px;
        left: 860px;
    }

    #oryol_area {
        position: relative;
        top: -8447px;
        left: 544px;
    }

    #kursk_area {
        position: relative;
        top: -8656px;
        left: 242px;
    }

    #belgorod_area {
        position: relative;
        top: -8569px;
        left: 286px;
    }

    #voronezh_area {
        position: relative;
        top: -8549px;
        left: 563px;
    }

    #lipetsk_area {
        position: relative;
        top: -9428px;
        left: 809px;
    }

    #tambov_area {
        position: relative;
        top: -9424px;
        left: 1119px;
    }

    #ryasan_area {
        position: relative;
        top: -10278px;
        left: 1260px;
    }

    #vladimir_area {
        position: relative;
        top: -10875px;
        left: 1629px;
    }

    #ivanovo_area {
        position: relative;
        top: -11334px;
        left: 2000px;
    }

    #kostroma_area {
        position: relative;
        top: -11816px;
        left: 2320px;
    }

    #yaroslavl_area {
        position: relative;
        top: -12434px;
        left: 1811px;
    }

    /*Уральский регион*/
    #kurgan_area {
        position: relative;
        top: -802px;
        left: 480px;
    }

    #yam-nen {
        position: relative;
        top: -2537px;
        left: 1591px;
    }

    #chelyab {
        position: relative;
        top: -1015px;
        left: 52px;
    }

    #sverdlovsk {
        position: relative;
        top: -858px;
        left: 380px;
        display: flex;
    }

    #tyumen {
        position: relative;
        top: -1980px;
        left: 897px;
    }

    #k-m {
        position: relative;
        top: -2918px;
        left: 911px;
    }

    /*Южный регион*/
    #volg_area {
        position: relative;
        top: -5794px;
        left: 2800px;

    }

    #rost_area {
        position: relative;
        top: -6089px;
        left: 1800px;

    }

    #krn_area {
        position: relative;
        top: -6070px;
        left: 729px;

    }

    #ad_rep {
        position: relative;
        top: -5970px;
        left: 781px;

    }

    #kal_rep {
        position: relative;
        top: -5839px;
        left: 2450px;

    }

    #ast_area {
        position: relative;
        top: -6139px;
        left: 3046px;

    }

    #crim_area {
        position: relative;
        top: -8139px;
        left: -133px;
    }

    /*Кавказ*/
    #stv_area {
        position: relative;
        bottom: 2000px;
        left: 1550px;
    }

    #k-h {
        position: relative;
        bottom: 2380px;
        left: 1070px;
    }

    #k-b {
        position: relative;
        bottom: 2370px;
        left: 1230px;
    }

    #nosetia {
        position: relative;
        bottom: 2350px;
        left: 1230px;
    }

    #ingus {
        position: relative;
        bottom: 2650px;
        left: 1500px;
    }

    #chechen {
        position: relative;
        bottom: 2780px;
        left: 1780px;
    }

    #dag {
        position: relative;
        bottom: 2580px;
        left: 1790px;
    }

    /*Северо-западный регион*/
    #kallin_area {
        position: relative;
        bottom: 4680px;
    }

    #ps_area {
        position: relative;
        bottom: 4780px;
        left: 450px;
    }

    #nov_area {
        position: relative;
        bottom: 5000px;
        left: 780px;
    }

    #sp_area {
        position: relative;
        bottom: 5750px;
        left: 780px;
    }

    #kar_rep {
        position: relative;
        bottom: 6000px;
        left: 1200px;
    }

    #vologda_area {
        position: relative;
        bottom: 5950px;
        left: 1150px;
    }

    #ark_area {
        position: relative;
        bottom: 6400px;
        left: 1650px;
    }

    #komi_area {
        position: relative;
        bottom: 6400px;
        left: 2300px;
    }

    #mur_area {
        position: relative;
        bottom: 7600px;
        left: 1750px;
    }

    /*Дальневосточный регион*/
    #sakha_rep {
        position: relative;
        bottom: 1650px;
        left: 900px;
    }

    #amur_area {
        position: relative;
        bottom: 950px;
        left: 820px;
    }

    #jewish {
        position: relative;
        bottom: 730px;
        left: 560px;
    }

    #prima {
        position: relative;
        bottom: 480px;
        left: 70px;
    }

    #saha {
        position: relative;
        bottom: 1220px;
        left: -420px;
    }

    #khab {
        position: relative;
        bottom: 1250px;
        left: -1500px;
    }

    #mag {
        position: relative;
        bottom: 2300px;
        left: 1750px;
    }

    #kam {
        position: relative;
        bottom: 2250px;
        left: 1580px;
    }

    /*Сибирский регион*/
    #krasnoyar {
        position: relative;
        bottom: 1900px;
        left: 1500px;
    }

    #tomsk {
        position: relative;
        bottom: 1300px;
        right: 350px;
    }

    #omsk {
        position: relative;
        bottom: 1200px;
        right: 400px;
    }

    #novosib {
        position: relative;
        bottom: 1000px;
        right: 1270px;
    }

    #altai {
        position: relative;
        bottom: 650px;
        right: 1750px;
    }

    #kemer {
        position: relative;
        bottom: 950px;
        right: 2160px;
    }

    #khakas {
        position: relative;
        bottom: 950px;
        left: 1220px;
    }

    #tyva_rep {
        position: relative;
        bottom: 830px;
        left: 950px;
    }

    #irkutsk {
        position: relative;
        bottom: 1580px;
        left: 900px;
    }

    #burat {
        position: relative;
        bottom: 1280px;
        left: 650px;
    }

    #zabay {
        position: relative;
        bottom: 1280px;
        left: 480px;
    }
}


